---
import Navigation from "./navigation.astro";
import Hamburger from "./hamburger.astro";
import ThemeIcon from "./themeicon.astro";
const { pageTitle } = Astro.props;
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <div class="nav-links">
            <Navigation url="/" displaytext="Home" />
            <Navigation url="/about" displaytext="About Me" />
            <Navigation url="/blog" displaytext="Blog" />
            <Navigation url="/tags" displaytext="Tags" />
        </div>
    </nav>
</header>
<h1>{pageTitle}</h1>
