name: Renovate

on:
  schedule:
    - cron: '0 * * * *' # run hourly
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Renovate
        uses: renovatebot/github-action@v44.0.1
        with:
          renovate-version: full
        env:
          LOG_LEVEL: info
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
